.footer {
  position: relative;
  margin-top: -90px;
}

.footer__wrapper {
  display: flex;
  margin: 0 auto;
  width: 345px;
}

.footer__logo {
  display: flex;
}

.footer__icon {
  margin-left: -3px;
  width: 60px;
  height: 51px;
}

.footer__icon use {
  fill: $color__highlight;
  opacity: 0.4;
}

.footer__company {
  margin: 0;
  margin-top: 11px;
  margin-left: 20px;
  width: 268px;
  font-family: $font-family__main;
  font-size: 14px;
  font-weight: normal;
  line-height: 12px;
  color: $color__light;
  text-transform: uppercase;
  opacity: 0.22;
}

.footer__copyright {
  display: block;
  margin-top: 15px;
  margin-left: 1px;
  text-transform: none;
}

.footer__creator {
  display: none;
}

@media (min-width: $width__tablet) {
  .footer__wrapper {
    position: relative;
    display: flex;
    width: 640px;
  }

  .footer__creator {
    display: block;
    margin: 0;
    margin-top: auto;
    margin-left: auto;
    font-family: $font-family__main;
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
    color: $color__light;
    opacity: 0.22;
  }
}

@media (min-width: $width__desktop) {
  .footer {
    margin-top: -106px;
  }

  .footer__wrapper {
    margin-left: 0;
    width: auto;
  }

  .footer__creator {
    margin-right: 3px;
    margin-bottom: 1px;
  }
}
