.info > .container {
  padding-top: 61px;
  padding-bottom: 55px;
}

.info__wrapper {
  display: flex;
  flex-direction: column;
}

.info__img {
  display: none;
}

.info__descriptor {
  position: relative;
  order: 3;
  margin: 18px auto 0 auto;
  width: 345px;
  font-family: $font-family__main;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: $color__descriptor;
}

.info__descriptor:not(:first-of-type) {
  margin-top: 30px;
}

.info__descriptor > .info__descriptor--cut {
  display: none;
}

.info__cut {
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  background-color: transparent;
  border: none;
  opacity: 0;
  pointer-events: none;
}

.info__cut + label {
  padding-left: 5px;
  font-family: $font-family__heading;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: $color__highlight;
  font-style: italic;
  letter-spacing: 0.45px;

  &::before {
    content: "...";
    margin-right: 15px;
    font-family: $font-family__main;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: $color__descriptor;
    pointer-events: none;
  }
}

.info__cut:checked ~ .info__descriptor {
  display: inline;
}

.info__cut:checked ~ .info__descriptor:not(:first-of-type) {
  display: block;
}

.info__cut:checked + label {
  display: none;
}


@media (min-width: $width__tablet) {
  .info > .container {
    position: relative;
    background-image: url("../img/logo.svg");
    background-size: 960px 805px;
    background-repeat: no-repeat;
    background-position: calc(50% - 300px) 0;
  }

  .info__descriptor {
    width: 640px;
  }

  .info__control {
    top: 170px;
  }
}

@media (min-width: $width__desktop) {
  .info > .container {
    display: flex;
    justify-content: space-between;
    padding-top: 201px;
    padding-bottom: 205px;
    background-position: calc(50% - 480px) 0;
  }

  .info__img {
    display: block;
    margin-top: 4px;
    margin-left: calc(50% - 590px);
  }

  .info__wrapper {
    align-items: flex-end;
  }

  .info__heading,
  .info__subheading,
  .info__descriptor {
    margin-left: 0;
    margin-right: 110px;
    width: 530px;
  }

  .info__descriptor {
    margin-top: 48px;
  }

  .info__control {
    top: 338px;
  }
}
