.nav {
  position: relative;
  margin-top: 530px;
  width: 100%;
  z-index: 1;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__link {
  display: block;
  font-family: $font-family__main;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: $color__light;
  opacity: 0.5;
}

@media (min-width: $width__tablet) {
  .nav__list {
    justify-content: flex-start;
  }

  .nav__item:not(:last-of-type) {
    margin-right: 50px;
  }
}
