@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-display: swap;
  font-style: normal;
  src:
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-display: swap;
  font-style: italic;
  src:
    url("../fonts/opensanslightitalic.woff2") format("woff2"),
    url("../fonts/opensanslightitalic.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src:
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-display: swap;
  font-style: italic;
  src:
    url("../fonts/opensansitalic.woff2") format("woff2"),
    url("../fonts/opensansitalic.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  src:
    url("../fonts/opensanssemibold.woff2") format("woff2"),
    url("../fonts/opensanssemibold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-display: swap;
  font-style: italic;
  src:
    url("../fonts/opensanssemibolditalic.woff2") format("woff2"),
    url("../fonts/opensanssemibolditalic.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src:
    url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-display: swap;
  font-style: italic;
  src:
    url("../fonts/opensansbolditalic.woff2") format("woff2"),
    url("../fonts/opensansbolditalic.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 800;
  font-display: swap;
  font-style: normal;
  src:
    url("../fonts/opensansextrabold.woff2") format("woff2"),
    url("../fonts/opensansextrabold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 800;
  font-display: swap;
  font-style: italic;
  src:
    url("../fonts/opensansextrabolditalic.woff2") format("woff2"),
    url("../fonts/opensansextrabolditalic.woff") format("woff");
}

@font-face {
  font-family: "Tinos";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src:
    url("../fonts/tinos.woff2") format("woff2"),
    url("../fonts/tinos.woff") format("woff");
}

@font-face {
  font-family: "Tinos";
  font-weight: 400;
  font-display: swap;
  font-style: italic;
  src:
    url("../fonts/tinositalic.woff2") format("woff2"),
    url("../fonts/tinositalic.woff") format("woff");
}

@font-face {
  font-family: "Tinos";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src:
    url("../fonts/tinosbold.woff2") format("woff2"),
    url("../fonts/tinosbold.woff") format("woff");
}

@font-face {
  font-family: "Tinos";
  font-weight: 700;
  font-display: swap;
  font-style: italic;
  src:
    url("../fonts/tinosbolditalic.woff2") format("woff2"),
    url("../fonts/tinosbolditalic.woff") format("woff");
}
