html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  font-size: 0;
}

.container {
  min-width: $width__mobile;
  padding: 0 100% * 15 / 375;
}

.label {
  display: none;
}

.heading,
.subheading {
  width: 345px;
}

.heading {
  order: 2;
  margin: 5px auto 0 auto;
  font-family: $font-family__heading;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  color: $color__heading;
  letter-spacing: 1px;
}

.subheading {
  order: 1;
  margin: 0 auto;
  font-family: $font-family__heading;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: $color__highlight;
  font-style: italic;
  letter-spacing: 0.45px;
}

@media (min-width: $width__tablet) {
  .heading,
  .subheading {
    width: 640px;
  }
}

@media (min-width: $width__desktop) {
  .container {
    margin: 0 auto;
    padding: 0 33px;
    max-width: $width__desktop-max;
  }

  .label {
    position: absolute;
    top: -99px;
    right: 62px;
    display: block;
    font-family: $font-family__heading;
    font-size: 18px;
    font-weight: 400;
    line-height: 16px;
    color: $color__highlight;
    font-style: italic;
    letter-spacing: 0.45px;

    &::before {
      content: "";
      position: absolute;
      top: -1px;
      right: -29px;
      width: 1px;
      height: 200px;
      background-color: $color__highlight;
    }
  }

  .heading,
  .subheading {
    width: 530px;
  }
}
