$width__desktop: 1140px;
$width__tablet-max: 1139px;
$width__tablet: 768px;
$width__mobile-max: 767px;
$width__mobile: 320px;

$font-family__main: "Museo Sans", "Arial", sans-serif;
$font-family__aux: "Georgia", "Times New Roman", serif;
$font-family__icon: "Ecoicon";
$font-family__modal-checkbox: "Arial";

$font-color__dark: rgb(1, 104, 105);
$font-color__darker: rgb(0, 88, 86);
$font-color__darker2: rgb(0, 74, 75);
$font-color__darker3: rgb(35, 31, 32);
$font-color__darker4: rgb(7, 7, 7);
$font-color__darkest: rgb(0, 0, 0);
$font-color__darkest-opacity: rgba(0, 0, 0, 0.9);
$font-color__light: rgb(255, 255, 255);
$font-color__highlight: rgb(247, 178, 0);
$font-color__higlight--card: rgb(242, 195, 20);
$font-color__highlight--callback: rgb(255, 185, 13);
$font-color__highlight--dark: rgb(219, 26, 35);
$font-color__highlight--darkest: rgb(149, 55, 52);
$font-color__link: rgb(85, 159, 215);
$font-color__callback-input: rgba(23, 23, 22, 0.8);
$font-color__filter: rgb(168, 194, 195);
$font-color__filter-result: rgb(173, 207, 207);
$font-color__filter-selected: rgb(12, 38, 62);
$font-color__advanced-reset: rgb(2, 83, 84);
$font-color__catalog-author: rgb(184, 184, 184);
$font-color__club-link: rgb(160, 103, 32);
$font-color__banner-highlight: rgb(255, 0, 0);
$font-color__authors-alphabet: rgb(0, 155, 156);
$font-color__landing-highlight: rgb(175, 3, 3);
$font-color__modal-input: rgb(28, 46, 65);
$font-color__modal-example: rgb(147, 152, 159);

$background__dark: rgb(1, 104, 105);
$background__darker: rgb(0, 88, 86);
$background__darker2: rgb(0, 74, 75);
$background__darkest: rgb(0, 0, 0);
$background__modal: rgba(4, 71, 72, 0.7);
$background__light: rgb(255, 255, 255);
$background__light-opacity: rgba(255, 255, 255, 0.85);
$background__light-opacity2: rgba(255, 255, 255, 0.8);
$background__light-opacity3: rgba(255, 255, 255, 0.8);
$background__middle: rgb(232, 232, 232);
$background__highlight: rgb(233, 39, 35);
$background__callback: rgb(177, 186, 189);
$background__filter-item: rgb(246, 246, 246);
$background__advanced-results: rgb(2, 83, 84);
$background__catalog-hover: rgb(10, 95, 96);
$background__darkest-hover: rgba(0, 0, 0, 0.4);
$background-color__calendar-announce-more: rgb(255, 196, 2);
$background__authors-alphabet: rgb(242, 242, 242);
$background__textpage-intro-link-1: rgb(255, 140, 0);
$background__textpage-intro-link-2: rgb(6, 172, 6);
$background__textpage-intro-link-3: rgb(214, 101, 212);
$background__btn: rgb(247, 178, 0);
$background__btn-bg: rgb(193, 140, 6);
$background__landing-highlight: rgb(175, 3, 3);
$background__landing-public: rgb(82, 82, 82);
$background__landing-results: rgb(241, 241, 241);
$background__landing-results-item: rgb(250, 250, 250);
$background__button-shining: rgb(195, 1, 1);
$background__lending-price-item: rgb(45, 131, 111);
$background__lending-price-item-dark: rgb(28, 95, 79);

$border__light: rgb(255, 255, 255);
$border__darkest: rgb(0, 0, 0);
$border__darkest-opacity: rgba(0, 0, 0, 0.4);
$border__modal-btn: rgba(4, 71, 72, 0.3);
$border__highlight: rgba(247, 178, 0, 0.5);
$border__card-menu: rgb(204, 225, 225);
$border__advanced-selector: rgb(179, 203, 203);
$border__audience: rgb(229, 229, 229);
$border__club-link:  rgb(160, 103, 32);
$border__landing-program: rgb(217, 217, 217);
$border__modal-btn: rgb(229, 179, 62);

$icon__light: rgb(255, 255, 255);

$shadow__main: rgba(50, 50, 50, 0.35);
$shadow__blog--dark: rgba(1, 104, 105, 0.8);
$shadow__results-item: rgb(216, 211, 211);
$shadow__dark: rgba(0, 0, 0, 0.55);
