$width__desktop: 1280px;
$width__desktop-max: 1600px;
$width__tablet: 768px;
$width__mobile: 375px;

$font-family__main: "Open Sans", "Arial", sans-serif;
$font-family__heading: "Tinos", "Times New Roman", serif;

$color__light: rgb(255, 255, 255);
$color__highlight: rgb(187, 155, 106);
$color__hover: rgba(0, 17, 35, 0.85);
$color__heading: rgb(14, 28, 44);
$color__descriptor: rgb(99, 102, 108);

$background__dark: rgb(14, 28, 44);
